#form_login {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color-editar);
    gap: 2rem;
    margin-bottom: 80px;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.input-box label {
    font-size: 14px;
    color: white;
}

.input-field {
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: text;
}

.input-field input {
    border-radius: 100px;
    border: none;
    width: 320px;
    height: 30px;
    padding: 0px 10px;
    background-color: #42b5f760;
    color: black;
}

.btnEditar {
    width: 60%;
    padding: 15px 20px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #1C9BE2;
    cursor: pointer;
    margin-top: 10px;
}

