.btn-sair {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1C9BE2;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: fixed;
    left: 20px;
    top: 20px;
}

.btn-sair:hover {
    background-color: #137BC8;
}

.btn-perfil {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #1C9BE2;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn-perfil:hover {
    background-color: #f0f0f0;
}
